*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display:  flex;
	align-items: center;
	padding:20px ;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 50px;
}


     

a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;

}
.row{
	display: flex;
	align-items: center;
	flex-wrap: warp;
	justify-content: space-around;

}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
	padding: 25px;
}
.col-2 img{
	max-width:100% ;
	padding: 5px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}
.header{
	
	background: #D7D7D7;
}
.categories{
	margin: 70px 0;
}
.col-3{
	flex-basic: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
	width:80%;
} 
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left:35px;
	padding-right: 15px;
}
.col-4{
	flex-basic: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width:100%;
} 
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;

}
.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius:5px ;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50px);
}
h4{
	color: #555;
	font-weight: normal;

}
.col-4 p{
	font-size: 14px;
}
.rating .fa{
	color: #ff523b;
}
.col-4:hover{
	transform: translateY(-15px);
}
.more{
	text-align: center;
}
small{
	color:#555 ;
}
/*-----Login------*/

.btn-login{
	cursor: pointer;
	background-color:#D7D7D7 ;
}
.overlay{
	width: 100px;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh ;
	width: 300vh;
	z-index: -1;
	opacity: 0;
	transition: 1s;
}
.showoverlay{
	opacity: 1;
	z-index: 1;

}
.loginform{
	width: 300px;
	padding: 30px 20px;
	background-color: white;
	position: absolute;
	transition: 1s;
	left: 40%;
	z-index: 9;
	opacity: 0;
	right: 50%;
	top: -50%;
	box-shadow:0px 0px 10px 2px #ccc;
	transform: translate(-50% -50%);
}
.ltitle{
	text-align: center;
}

.showloginform{
	top: 30%;
	opacity: 1;
}
.LoginForm input{
	width: 100%;
	margin-bottom:15px ;
	height: 35px;
}
.loginform button{
	background-color:#ff523b ;
	color: white;
	padding: 10px 15px; 

}
.loginform span{
	cursor: pointer;
	position: absolute;
	right:0px ;
	width: 30px;
	line-height: 30px;
	height:30px ;
	text-align: center;
	top: 0px;
}



/*-----Reservation------*/
.reserve img{
	height: 500px;
	width: 500px;
	margin-left: 65px;
  margin-right: 415px;
}
.reserve{
	display: inline-block;
	}
h1 {
  text-align: center;
}

h2 {
  margin-top: 30px;
}
#timg{
	float: left;    
 margin: 0 15px 0 0;
}

#reservationForm {
	top: 30%;
	 display: inline-block;
  margin-right: 65px;
  margin-left: 415px;
 
 
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  height: 35px;
}

input[type="submit"] {
  background-color: #ff523b;
  color: white;
  cursor: pointer;
}
#reservationStatus {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

#reservationStatus p {
  font-weight: bold;
}

/*-----Footer------*/
.footer{
	background:#000 ;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;

}
.footer-col-2{
	text-align: center;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 140px;
	margin-bottom: 20px;

}

.footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;

}
.app-logo img{
	width: 140px;

}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.Copyright{
	text-align: center;
}


/*-------cart items-------*/
.cart-page{
	margin: 80px auto;

}
table{
	width: 100%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: warp;
}
th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #ff523b;
	font-weight: normal;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;

}
td a{
	color: #ff523b;
	font-size: 12px;
}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.total-price{
	display: flex;
	justify-content: flex-end;

}
.total-price table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 400px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}



/*--------buy now------------*/
.buycol-2 img{
	height: 50px;
	width: 50px;
}
